# Configuration file

counters {
    I:lastGridStorage=832
    I:lastPlayer=3
}


dimensionmanager {
    I:StorageCells <
        2
        3
        4
        5
        6
        7
        8
        9
        10
        11
        12
        13
        14
        15
        16
        17
        18
        19
        20
        21
        22
        23
        24
        25
     >
}


gridstorage {
    S:811=H4sIAAAAAAAAAONiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
    S:827=H4sIAAAAAAAAAONiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
}


orderedvalues {
    I:presses=9
}


players {
    I:689db8dd-33c0-4a0a-8f27-1a3176c7a775=2
    I:787a86ee-a7c5-49fa-a60c-ab2024000401=0
    I:e58a0f13-1b1c-403e-9821-a809b51c7608=1
}


storagecell0 {
    I:scaleX=0
    I:scaleY=0
    I:scaleZ=0
}


storagecell10 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell11 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell12 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell13 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell14 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell15 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell16 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell17 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell18 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell19 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell2 {
    I:scaleX=5
    I:scaleY=4
    I:scaleZ=5
}


storagecell20 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell21 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell22 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell23 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell24 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell25 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell3 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell4 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell5 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell6 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell7 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell8 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


storagecell9 {
    I:scaleX=5
    I:scaleY=5
    I:scaleZ=5
}


